In [1]:
import pandas as pd
countries = pd.read_csv('countries.csv')
lang = pd.read_csv('language.csv', sep='|')

In [2]:
countries.head()

       country
0  Afghanistan
1      Albania
2      Algeria
3      America
4      Andorra

In [3]:
lang.head()

,SK_Language,ISO639-3Code,ISO639-2BCode,ISO639-2TCode,ISO639-1Code,LanguageName,Scope,Type,MacroLanguageISO639-3Code,MacroLanguageName,IsChild
0,10000,aaa,NaN,NaN,NaN,Ghotuo,Individual,Living,NaN,NaN,0
1,10001,aab,NaN,NaN,NaN,Alumu-Tesu,Individual,Living,NaN,NaN,0
2,10002,aac,NaN,NaN,NaN,Ari,Individual,Living,NaN,NaN,0
3,10003,aad,NaN,NaN,NaN,Amal,Individual,Living,NaN,NaN,0
4,10004,aae,NaN,NaN,NaN,Arbëreshë Albanian,Individual,Living,sqi,Albanian,1

In [4]:
langs = pd.DataFrame(lang.LanguageName)
langs.head()

         LanguageName
0              Ghotuo
1          Alumu-Tesu
2                 Ari
3                Amal
4  Arbëreshë Albanian

In [5]:
langs['test_name'] = langs.LanguageName + 's'

In [6]:
langs.head()

         LanguageName            test_name
0              Ghotuo              Ghotuos
1          Alumu-Tesu          Alumu-Tesus
2                 Ari                 Aris
3                Amal                Amals
4  Arbëreshë Albanian  Arbëreshë Albanians

In [16]:
q = pd.DataFrame(countries.country.isin(langs.test_name))
q.loc[q.country == True]

     country
100     True

In [23]:
q.loc[q.country == True]

     country
100     True

In [47]:
countries.iloc[100]

country    Laos
Name: 100, dtype: object