In [1]:
import math
import pandas as pd
import numpy as np
from sklearn import linear_model

In [4]:
df = pd.read_csv('hiring.csv')
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [6]:
# Rename colums
df.rename(columns={"test_score(out of 10)": "test_score",
                   "interview_score(out of 10)": "interview_score",
                   "salary($)": "salary"}, inplace=True)
df

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000
5      three         7.0               10   62000
6        ten         NaN                7   72000
7     eleven         7.0                8   80000

In [13]:
# Fill experience blanks with 0
df.experience = df.experience.fillna(0)

# Fill test score with average
med_test_score = df.test_score.median()

df.test_score = df.test_score.fillna(med_test_score)

# Convert string to integer
experience_list = [0,0,5,2,7,3,10,11]

df.experience = experience_list

In [23]:
df

   experience  test_score  interview_score  salary
0           0         8.0                9   50000
1           0         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         8.0                7   72000
7          11         7.0                8   80000

In [17]:
# Make lin reg object
reg = linear_model.LinearRegression()
reg.fit(df[['experience', 'test_score', "interview_score"]], df.salary)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:
print(f"Coef: {reg.coef_}\nIntercept: {reg.intercept_}")

Coef: [2812.95487627 1845.70596798 2205.24017467]
Intercept: 17737.26346433771

Predict salary for 2 candidates:
- 2 yr experience, 9 test, 6 interview
- 12 yr experience, 10 test, 10 interview

In [21]:
reg.predict([[2, 9, 6]])[0]

53205.96797671034

In [22]:
reg.predict([[12,10,10]])[0]

92002.18340611353

Answers were slighty off since teacher used mean instead of median.